<div id="root"></div>
<%="Welcome to the Salesloft People Directory"%>
<p>
<%="To View People Directory Click The Button Below"%>
</p>

<p>
<%= button_to "View People", base_process_records_path, method: :get, class: "btn btn-success"%>
<%= button_to "View Letter Count",  base_count_letters_path, method: :get, class: "btn btn-primary"%>
</p>  

