<head>
  <title>SalesLoft Integration</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %>
</head>
<div class = "container">
	<div class = "container">

		<%= button_to "Home",  root_path, method: :get, class: "btn btn-primary"%>

		<h1>Duplicates</h1>
	</div>

	<div class = "container">
		<h3> <%= @result %> </h3>
		<h3> <%= @obj %> </h3>
	</div>
</div>