<head>
  <title>SalesLoft Integration</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %>
</head>

<h1>Duplicates</h1>

<%= button_to "Home",  root_path, method: :get, class: "btn btn-primary"%>
<h2> <%= @result %> </h2>