<h1>People</h1>

<% @result.each do |person| %>
<h2> <%= "#{person["first_name"]}  #{person["last_name"]}" %> </h3>
<h4> <%= person["email_address"] %> </h4>
<h4> <%= person["title"] %> </h4>
<% end %>
