<!DOCTYPE html>
<html>
<head>
  <title>SalesLoft Integration</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %>
</head>
<body>

<%= yield %>

<script src=<%= "http://localhost:#{ENV['WEBPACK_PORT']}/app.js" %>></script>
</body>
</html>
